<div>
        <h3 class="faq-h2">{{ texts.-475b7d60 }}</h3>
        <div class="faq-min-height">
          <div class="faq-wrap">
            <div class="faq-question">
              <div class="faq-q-text">{{ texts.-773e58a5 }}</div>
              <div class="faq-plus-wrap">
                <div class="faq-plus-l"></div>
                <div class="faq-plus"></div>
              </div>
            </div>
            <div class="faq-answer">
              <p class="faq-answer-text">{{ texts.-4307e485 }}<br></p>
            </div>
          </div>
          <div class="faq-wrap">
            <div class="faq-question">
              <div class="faq-q-text">{{ texts.4ca62f8b }}</div>
              <div class="faq-plus-wrap">
                <div class="faq-plus-l"></div>
                <div class="faq-plus"></div>
              </div>
            </div>
            <div class="faq-answer">
              <p class="faq-answer-text">{{ texts.1ca6bf4 }}<br><br>{{ texts.4dfd18d5 }}</p>
            </div>
          </div>
          <div class="faq-wrap">
            <div class="faq-question">
              <div class="faq-q-text">{{ texts.67683551 }}</div>
              <div class="faq-plus-wrap">
                <div class="faq-plus-l"></div>
                <div class="faq-plus"></div>
              </div>
            </div>
            <div class="faq-answer">
              <p class="faq-answer-text">{{ texts.407cf998 }}<a href="{{ links.6eb72122 }}" class="normal-font">{{ texts.8556e9e }}</a>{{ texts.2e }}<br></p>
            </div>
          </div>
          <div class="faq-wrap">
            <div class="faq-question">
              <div class="faq-q-text">{{ texts.70c69eb7 }}</div>
              <div class="faq-plus-wrap">
                <div class="faq-plus-l"></div>
                <div class="faq-plus"></div>
              </div>
            </div>
            <div class="faq-answer">
              <p class="faq-answer-text">{{ texts.-4fe1f820 }}<br></p>
            </div>
          </div>
        </div>
      </div>