<div>
        <h3 class="faq-h2">{{ texts.-475b7d60 }}</h3>
        <div class="faq-min-height">
          <div class="faq-wrap">
            <div class="faq-question">
              <div class="faq-q-text">{{ texts.-773e58a5 }}</div>
              <div class="faq-plus-wrap">
                <div class="faq-plus-l"></div>
                <div class="faq-plus"></div>
              </div>
            </div>
            <div class="faq-answer">
              <p class="faq-answer-text">{{ texts.-4307e485 }}<br></p>
            </div>
          </div>
          <div class="faq-wrap">
            <div class="faq-question">
              <div class="faq-q-text">{{ texts.-50d702a7 }}</div>
              <div class="faq-plus-wrap">
                <div class="faq-plus-l"></div>
                <div class="faq-plus"></div>
              </div>
            </div>
            <div class="faq-answer">
              <p class="faq-answer-text">{{ texts.-5efc2240 }}<a href="{{ links.-7deab72c }}">{{ texts.-16bfa7ed }}</a>{{ texts.1f0b149 }}<a href="{{ links.13d92655 }}" class="link-4">{{ texts.-67d71f41 }}</a>{{ texts.-64111271 }}</p>
            </div>
          </div>
          <div class="faq-wrap">
            <div class="faq-question">
              <div class="faq-q-text">{{ texts.67683551 }}</div>
              <div class="faq-plus-wrap">
                <div class="faq-plus-l"></div>
                <div class="faq-plus"></div>
              </div>
            </div>
            <div class="faq-answer">
              <p class="faq-answer-text">{{ texts.407cf998 }}<a href="{{ links.6eb72122 }}" class="normal-font">{{ texts.8556e9e }}</a>{{ texts.2e }}<br></p>
            </div>
          </div>
          <div class="faq-wrap">
            <div class="faq-question">
              <div class="faq-q-text">{{ texts.70c69eb7 }}</div>
              <div class="faq-plus-wrap">
                <div class="faq-plus-l"></div>
                <div class="faq-plus"></div>
              </div>
            </div>
            <div class="faq-answer">
              <p class="faq-answer-text">{{ texts.-787cf8cc }}<br></p>
            </div>
          </div>
        </div>
      </div>