<div data-animation="default" class="navbar w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" role="banner" data-no-scroll="1" data-duration="400">
      <div class="navbar-container">
        <a href="{{ links.2f }}" aria-current="page" class="brand w-nav-brand w--current"><img src="{{ images.1013ae8a.url }}" alt="{{ images.1013ae8a.alt | trim | escape }}" class="image-6"><img src="{{ images.3102f5ae.url }}" data-w-id="75d9c39e-9c18-70b8-9ff6-423b10246429" alt="{{ images.3102f5ae.alt | trim | escape }}" class="image-6 text">
          <h5 class="heading-17">{{ texts.3df3f247 }}<br>{{ texts.560f747e }}</h5>
        </a>
        <div class="mobile-menu-button">
          <div class="account-links"></div>
          <div class="menu-button w-nav-button">
            <div class="nav-icon w-icon-nav-menu"></div>
          </div>
        </div>
        <nav role="navigation" class="homepage-nav-menu w-nav-menu">
          <div class="div-block-4">
            <a href="{{ links.2f }}" aria-current="page" class="nav-link w-nav-link w--current">{{ texts.2268ff }}</a>
            <a href="{{ links.-8df2d34 }}" class="nav-link w-nav-link">{{ texts.-64104400 }}</a>
            <a href="{{ links.-4b6f68d9 }}" class="nav-link w-nav-link">{{ texts.-5b4a86e6 }}</a>
          </div>
          <a id="signout-button" data-onlogin="show" href="{{ links.23 }}" class="auth-form__button w-button">{{ texts.1650de6b }}</a>
          <a data-onlogin="show" href="{{ links.23 }}" class="auth-form__button w-button">{{ texts.38fd0a74 }}</a>
          <a data-onlogin="hide" href="{{ links.23 }}" class="auth-form__button w-button">{{ texts.38fd0a74 }}</a>
        </nav>
      </div>
      <div class="navbar-shadow"></div>
    </div>