<section id="Pricing" class="pricing-section-2">
      <div class="price-container">
        <div class="title-wrapper">
          <h2 class="pricing-header">{{ texts.-5263931e }}</h2>
        </div>
        <div class="container-2 w-container">
          <div class="columns-2 w-row">
            <div class="column-2 w-col w-col-7">
              <div class="price-card free-forever">
                <div class="price-title-wrapper">
                  <div class="price-icon-block free-forever">
                    <div class="icon w-embed"><svg width="420" height="420" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.9999 18.26L4.94691 22.208L6.52191 14.28L0.586914 8.792L8.61391 7.84L11.9999 0.5L15.3859 7.84L23.4129 8.792L17.4779 14.28L19.0529 22.208L11.9999 18.26Z" fill="currentColor"></path>
                      </svg>
                    </div>
                  </div>
                  <div>
                    <div class="plan-type">{{ texts.7f5e23b3 }}</div>
                    <div class="pricing-detail">{{ texts.38e1bcc5 }}</div>
                  </div>
                </div>
                <div class="pricing-line-break"></div>
                <div class="large-price-text">{{ texts.211de05 }}<span class="price-type"></span></div>
                <div class="w-layout-grid pricing-feature-grid">
                  <div class="pricing-feature">
                    <div>{{ texts.-5aced016 }}</div>
                  </div>
                  <div class="pricing-feature">
                    <div>{{ texts.2c66d876 }}</div>
                  </div>
                  <div class="pricing-feature">
                    <div>{{ texts.25a493ec }}</div>
                  </div>
                  <div class="pricing-feature">
                    <div>{{ texts.-215f1808 }}</div>
                  </div>
                </div>
                <a href="{{ links.17f73eb1 }}" class="button free-forever w-button">{{ texts.-451a86e }}</a>
              </div>
            </div>
            <div class="column w-col w-col-5">
              <h3 class="heading-19">{{ texts.-5d82eb88 }}</h3>
              <div class="div-block-32">{{ texts.-177037d4 }}<br><br>{{ texts.-6d278234 }}</div>
              <a href="{{ links.23 }}" class="button w-button">{{ texts.-7828ac55 }}</a>
            </div>
          </div>
        </div>
        <div class="w-layout-grid grid-pricing">
          <div class="price-card">
            <div class="price-title-wrapper">
              <div class="price-icon-block">
                <div class="icon w-embed"><svg width="420" height="420" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 10H20L11 23V14H4L13 1V10Z" fill="currentColor"></path>
                  </svg>
                </div>
              </div>
              <div>
                <div class="plan-type">{{ texts.521782dd }}</div>
                <div class="pricing-detail">{{ texts.18173527 }}</div>
              </div>
            </div>
            <div class="pricing-line-break"></div>
            <div class="large-price-text">{{ texts.8da0 }}<span class="price-type">{{ texts.5667e7b1 }}</span></div>
            <div class="w-layout-grid pricing-feature-grid">
              <div class="pricing-feature">
                <div>{{ texts.1085d8de }}</div>
              </div>
              <div class="pricing-feature">
                <div>{{ texts.2c66d876 }}</div>
              </div>
              <div class="pricing-feature">
                <div>{{ texts.-af54a30 }}</div>
              </div>
              <div class="pricing-feature">
                <div>{{ texts.-5d8e49cb }}</div>
              </div>
              <div class="pricing-feature">
                <div>{{ texts.-17b6948c }}</div>
              </div>
              <div class="pricing-feature">
                <div>{{ texts.2fa329e1 }}<span class="text-span-8">{{ texts.3c877657 }}</span></div>
              </div>
            </div>
            <a href="{{ links.17f73eb1 }}" class="button secondary w-button">{{ texts.-451a86e }}</a>
          </div>
          <div class="price-card featured-card">
            <div class="price-title-wrapper">
              <div class="price-icon-block recomended">
                <div class="icon w-embed"><svg width="420" height="420" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 19H22V21H2V19ZM2 5L7 8L12 2L17 8L22 5V17H2V5Z" fill="currentColor"></path>
                  </svg>
                </div>
              </div>
              <div>
                <div class="plan-type">{{ texts.-1e6605b3 }}</div>
                <div class="pricing-detail">{{ texts.38e06b4c }}</div>
              </div>
            </div>
            <div class="pricing-line-break"></div>
            <div class="large-price-text"><span class="price-special">{{ texts.111be8 }}</span> <span class="price-type">{{ texts.5667e7b1 }}<br></span><span class="text-span-3">{{ texts.77d2e2d4 }}</span><span class="price-type"><br></span></div>
            <div class="w-layout-grid pricing-feature-grid">
              <div class="pricing-feature">
                <div>{{ texts.249c12be }}</div>
              </div>
              <div class="pricing-feature">
                <div>{{ texts.-653ae5df }}</div>
              </div>
              <div class="pricing-feature">
                <div>{{ texts.-43d32637 }}</div>
              </div>
              <div class="pricing-feature">
                <div>{{ texts.-20131b3 }}</div>
              </div>
              <div class="pricing-feature">
                <div>{{ texts.3a0edec1 }}</div>
              </div>
              <div class="pricing-feature">
                <div>{{ texts.a82f84e }}</div>
              </div>
              <div class="pricing-feature">
                <div>{{ texts.-167125c }}</div>
              </div>
              <div class="pricing-feature">
                <div>{{ texts.-7cf3ea09 }}</div>
              </div>
            </div>
            <a href="{{ links.-7deab72c }}" class="button w-button">{{ texts.-451a86e }}</a>
          </div>
          <div class="price-card enterprise">
            <div class="price-title-wrapper">
              <div class="price-icon-block enterprise">
                <div class="icon w-embed"><svg width="420" height="420" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 16.938V19H18V21H6V19H11V16.938C9.0667 16.6942 7.28882 15.7533 6 14.2917C4.71119 12.8302 4.00003 10.9486 4 9V3H20V9C20 10.9486 19.2888 12.8302 18 14.2917C16.7112 15.7533 14.9333 16.6942 13 16.938V16.938ZM1 5H3V9H1V5ZM21 5H23V9H21V5Z" fill="currentColor"></path>
                  </svg>
                </div>
              </div>
              <div>
                <div class="plan-type">{{ texts.46f90f81 }}</div>
                <div class="pricing-detail">{{ texts.1b7af6c7 }}</div>
              </div>
            </div>
            <div class="pricing-line-break"></div>
            <div class="large-price-text"><span class="text-span-7">{{ texts.78fb7791 }}<br></span><span class="text-span-3">{{ texts.-9b524c5 }}</span><br></div>
            <div class="w-layout-grid pricing-feature-grid">
              <div class="pricing-feature">
                <div>{{ texts.386a4874 }}</div>
              </div>
              <div class="pricing-feature">
                <div>{{ texts.457e990f }}</div>
              </div>
              <div class="pricing-feature">
                <div>{{ texts.5482e42c }}</div>
              </div>
              <div class="pricing-feature">
                <div>{{ texts.-29b2e50f }}</div>
              </div>
              <div class="pricing-feature">
                <div>{{ texts.5e6b8da4 }}</div>
              </div>
            </div>
            <a href="{{ links.13d92655 }}" class="button secondary submit enterprise w-button">{{ texts.-451a86e }}</a>
          </div>
        </div>
      </div>
    </section>